/*
 Theme Name:   PXP Child Theme
 Theme URI:    http://pixelparlor.com/
 Description:  Pixel Parlor Child Theme Based on Divi Framework
 Author:       PixelParlor
 Author URI:   http://pixelparlor.com
 Template:     Divi
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready
 Text Domain:  pxp-child-theme
*/

/*------------------------------------------------*/

/*-----------------[RESET STYLES]-----------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*-----------------[BASIC STYLES]-----------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*-----------------[GFORM STYLES]-----------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*-----------------[HEADER STYLES]----------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*-----------------[MAIN NAV STYLES]--------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*---------------[MAIN LAYOUT INFO]---------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*---------------------[FOOTER]-------------------*/

/*------------------------------------------------*/

/*---------------[FOOTER NAV STYLES]--------------*/

/*-----------[FOOTER SOCIAL ICON STYLES]----------*/

.et-social-icons a:hover {
  color: #fff !important;
}

.et-social-linkedin a:before {
  content: "\e09d";
}

.et-social-pinterest a:before {
  content: "\e095";
}

.et-social-instagram a:before {
  content: "\e09a";
}

.et-social-icons li a {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 !important;
  padding: 0 !important;
}

/*-----------[FOOTER COPYRIGHT STYLES]----------*/

/*------------------------------------------------*/

/*--------------------[SIDEBAR]-------------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*---------------[MEMBERPRESS STYLES]-------------*/

/*------------------------------------------------*/


/*------------------------------------------------*/

/*---------------[HOME PAGE STYLES]---------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*---------------[ABOUT PAGE STYLES]--------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*----------------[SUB PAGE STYLES]---------------*/

/*------------------------------------------------*/

/*------------------------------------------------*/

/*---------------[RESPONSIVE LAYOUTS]-------------*/

/*------------------------------------------------*/

/*-------------------[1280px]------------------*/

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 980px) and (max-width: 1280px) {}

/*-------------------[1024px]------------------*/

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (min-width: 981px) {}

/*-------------------[980px-1200px]------------------*/

@media only screen and (max-width: 980px) {}

/*-------------------[768px-980px]------------------*/

@media only screen and (min-width: 768px) and (max-width: 980px) {}

/*-------------------[780px]------------------*/

@media only screen and (min-width: 767px) {}

@media only screen and (max-width: 767px) {}

/*-------------------[640px]------------------*/

@media only screen and (max-width: 640px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 600px) {}

/*-------------------[480px]------------------*/

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 329px) {}